@media screen and (max-width: 1200px) {
    .nav-links a {
        font-size: 14px;
        width: 70vw;
    }
}

@media screen and (max-width: 1000px) {
    .nav-links {
        position: fixed;
        inset: 0 0 0 38%;
        flex-direction: column;
        padding: min(30vh, 8rem) 0rem;
        margin: 0px !important;
        align-items: center;
        z-index: 9;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }
    .nav-links[data-visible="true"] {
        transform: translateX(0);
    }
    .logo {
        width: 7vw;
        margin: 8px 0px 0px 10px;
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 10;
        background:url(../Images/hamburger-menu.svg) no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .mobile-nav-toggle[aria-expanded='true'] {
        background: url(../Images/close.svg) no-repeat;
    }
    section {
        padding: 0 20px;
        margin: 0 20px;
    }
    .title {
        font-size: 2rem;
        margin: 6vh 0 3vh 0;
      }
      .slide-text {
        width: 100%;
        margin: 100px 0 50px 0;
      }
      #home-slider {
        flex-direction: column;
      }
    
      .btn-common {
        font-size: 20px;
      }
      #gif {
        position: relative;
        height: 40%;
        width: auto;
      }
      .temp-wolf {
        height: 30vh;
    }
}

@media (max-width: 700px) {
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        opacity: 1;
    }
    #home-slider {
        justify-content: space-between;
    }
    .metamask-icon {
        margin: 0 auto 30% auto;
    }
    #arrow-starting {
        left: 40%;
    }
    #button-next {
        display: block;
    }
    .img-active {
        position: absolute;
        display: block;
    }
}
    

@media (max-width: 450px) {
    .logo {
        width: 13vw;
    }
    .title, h2 {
        font-size: 1.8rem;
    }
    p {
        font-size: 14px;
    }
    .temp-wolf {
        height: 35vh;
    }
    h4 {
        font-size: 20px;
    }
    .slide-text {
        margin: 50px 0 30px 0;
      }
}
@media (max-height: 700px) and (min-width: 500px) {
    .title, h2 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2rem;
    }
    
}

@media (max-width: 380px) {
    #gif {
        height: 30%;
    }
}

